/* Variables */

@font-face {
    font-family: 'PlutoSansRegular';
    src: url('++resource++plonetheme.mondriaanhuis/PlutoSansRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlutoSansLight';
    src: url('++resource++plonetheme.mondriaanhuis/Pluto Sans W01 Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversObl';
    src: url('++resource++plonetheme.mondriaanhuis/PlutoSansBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniversRoman';
    src: url('++resource++plonetheme.mondriaanhuis/Pluto Sans W01 Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.PlutoSansRegular() {
    font-family: 'PlutoSansRegular', Arial, sans-serif;
}

.PlutoSansLight() {
    font-family: 'PlutoSansLight', Arial, sans-serif;
}

.universObl() {
    font-family: 'UniversObl', Arial, sans-serif;
}

.universRoman() {
    font-family: 'UniversRoman', Arial, sans-serif;
}

.backendFont() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

@brand-primary: #7BB0E7;
@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;


