/* Variables */

@font-face {
    font-family: 'PlutoSansRegular';
    src: url('++resource++plonetheme.mondriaanhuis/PlutoSansRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlutoSansLight';
    src: url('++resource++plonetheme.mondriaanhuis/PlutoSansLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlutoSansBold';
    src: url('++resource++plonetheme.mondriaanhuis/PlutoSansBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlutoSansExtraLight';
    src: url('++resource++plonetheme.mondriaanhuis/PlutoSansExtraLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.PlutoSansRegular() {
    font-family: 'PlutoSansRegular', Arial, sans-serif;
}

.PlutoSansLight() {
    font-family: 'PlutoSansLight', Arial, sans-serif;
}

.PlutoSansBold() {
    font-family: 'PlutoSansBold', Arial, sans-serif;
}

.PlutoSansExtraLight() {
    font-family: 'PlutoSansExtraLight', Arial, sans-serif;
}


.backendFont() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

@brand-primary: #f0bb25;
@yellowcolor: #f0bb25;
@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;


